
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	border: 0;
  padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1;
  min-width: 375px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----End Reset Css-----*/
.contenedor{
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    height: 996px;
    align-content: center;
    align-items: center;

}
.rectangulo{
  border:solid 3px white;
}
.palabra{
    font-family: 'Lalezar';
    color: white;
    font-size: 120px;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 10px;
    /*transform: rotateZ(-20deg); para rotar*/
    word-wrap: break-word;
    margin: 8px;
}
.rayaR{
  height: 3px;
  background: white;
  transform: rotateZ(-39deg);
  position: absolute;
  width: 337px;
  left: 477px;
    
}
